@import '../../node_modules/ol/ol.css';
@import '../../node_modules/ol-geocoder/dist/ol-geocoder.min.css';

.open-street-map {
    position: relative;
    .gcd-txt-control {
        color: #09090b !important;
    }
    &.disabled{
        pointer-events: none;
        .gcd-gl-control{
            pointer-events: none;
        }
    }

    .center {
        z-index: 9999 !important;
        position: absolute;
        border: solid 1px black;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
    }
}
